.corousel-cell{
  width: 100vw;
  
}

.img-responsive{
  height: 360px;
  width: 340px;
  border-radius: 50%;
}
#border{
  border: 4px solid black;
}
#about_text{
  top:50%;
  transform: translate(0%,60px);
}

#about_image{
  left:50%;
  transform: translate(200px,0%);
  
}
<img style="height:200px; width: 200px;" class="img-responsive" src="assets/shivam6.jpg" alt="">